<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=Onecampground._id%>?_method=put" method="post" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%=Onecampground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%=Onecampground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="file" class="form-control" name="image" multiple id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload"> 
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00"
                            aria-label="price" aria-describedby="price-label" value="<%=Onecampground.price%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required><%=Onecampground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <% Onecampground.image.forEach((img, i) => {  %>
                        <img src="<%= img.thumb %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>" >
                        </div>
                        <label for="image-<%=i%>">deleteimg</label>
                        <% }) %> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= Onecampground._id %> ">Back to campground</a>